.shop-item {
    width: 100%;
    margin-bottom: 36px
}

.shop-item .shop-thumbnail {
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden
}

.shop-item .shop-thumbnail .item-link {
    position: absolute;
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.shop-item .shop-thumbnail>img {
    display: block;
    width: auto;
    margin: auto;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    transition: opacity 0.35s
}

.shop-item .shop-item-details {
    display: table;
    width: 100%;
    padding-top: 24px
}

.shop-item .shop-item-details .shop-item-title,
.shop-item .shop-item-details .shop-item-price {
    display: table-cell;
    vertical-align: top
}

.shop-item .shop-item-details .shop-item-title {
    width: 50%;
    font-size: 16px;
    font-weight: normal
}

.shop-item .shop-item-details .shop-item-title>a {
    color: #999;
    text-decoration: none
}

.shop-item .shop-item-details .shop-item-price {
    width: 50%;
    font-size: 16px;
    text-align: right
}

.shop-item .shop-item-details .shop-item-price .old-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through
}

.shop-item .shop-item-tools {
    position: absolute;
    z-index: 2;
    bottom: 22px;
    right: 22px;
    text-align: right;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.35s, visibility 0.35s;
    -o-transition: opacity 0.35s, visibility 0.35s;
    transition: opacity 0.35s, visibility 0.35s
}

.shop-item .shop-item-tools .add-to-whishlist {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    color: #999;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 4px
}

.shop-item .shop-item-tools .add-to-whishlist:hover {
    color: #606060
}

.shop-item .shop-item-tools .add-to-cart {
    margin: 0;
    margin-left: 7px
}

.shop-item:hover .shop-thumbnail>img {
    opacity: .5
}

.shop-item:hover .shop-item-tools {
    visibility: visible;
    opacity: 1
}

.touch .shop-item .shop-item-tools {
    visibility: visible;
    opacity: 1
}

.shop-label {
    position: absolute;
    z-index: 1;
    display: block;
    height: 24px;
    line-height: 24px;
    top: 20px;
    left: 20px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 12px;
    padding: 0 14px
}

.add-to-cart {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 114px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #FB607F;
    border-radius: 4px;
    overflow: hidden;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s
}

.add-to-cart:hover {
    color: #fff;
    background-color: #ed4466;
}

.add-to-cart:focus,
.add-to-cart:active {
    color: #fff
}

.add-to-cart em {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-style: normal;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s
}

.add-to-cart svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translateX(50%) translateY(-50%);
    -moz-transform: translateX(50%) translateY(-50%);
    -ms-transform: translateX(50%) translateY(-50%);
    -o-transform: translateX(50%) translateY(-50%);
    transform: translateX(50%) translateY(-50%);
    -webkit-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s
}

.add-to-cart.is-added em {
    color: transparent;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: transform 0s;
    -o-transition: transform 0s;
    transition: transform 0s
}

.add-to-cart.is-added svg {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: transform 0s;
    -o-transition: transform 0s;
    transition: transform 0s
}

.shop-thumbnail img {
    vertical-align: middle;
    display: block;
    max-width: 100%;
    height: auto;
}