.member-image{
    display:inline-block;
    height:60px;
    vertical-align: middle;
}

.member-user-info{
    padding-left:10px;
    display:inline-block;
}

.member-user-info-name{
    color: #67a1ea;
}
.member-user-info-name:hover{
    color: #67a1ea;
}