body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.searchWrapp {
    overflow: hidden;
}

.s-result-item {
    display: block;
    margin: 10px 0;
    font-size: 1.5em;
}

.s-r-i-title {

}

.s-r-i-type {
    display: block;
    font-size: 0.8em;
}

.modal-login-title {
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block !important;
    margin: 0;
    line-height: 1.42857143;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.modal-login-title-right-msg {
    float: right;
    color: #fff;
    margin-right: 16px;
    margin-top: 3px;
}

.modal-login-title-right-msg a {
    color: #FFEB3B;
    margin-left: 5px;
    border-bottom: 1px dotted #FFEB3B;
}

.modal-login-dialog{
    width: 400px;
}


.social-links-footer li {
    display: inline-block;
    margin: 0 10px 0 0;
    list-style:none;
}

.footTop .social-links-footer  li a{
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 3px 0;
    display: block;
    font-size: 16px;
    line-height:30px;
    color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 11;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

.user-stats table{
    padding: 10px 0;
    font: 12px SFUIDisplay-Bold;
    color: #434f5e;
}
.user-stats > div.table-responsive{
    overflow-x:auto;
}


.user-stats th{
    font-weight:bold;
}

.user-stats h4{
    color: #65c178;
    font: 15px SFUIDisplay-Bold;
    padding: 15px 0;
}
.search-tournament-tabs{
    witdh:100%;
    background: #65c178;
    padding: 20px 20px 0;
}

.search-tournament-tabs li a {
    font: 18px Montserrat-Bold;
    color: #FFF;

}

.search-tournament-tabs li.active a{
    background: white;
    color: #285331;
}