
.profileWrapp {
    padding: 21px 15px;
    background: #FFF;
    -webkit-box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, .1);
}

.profileWrapp h1 {
    font: 23px SFUIDisplay-Regular;
    padding: 15px 0;
    text-align: center;
    background: #65c178;
    color: #FFF;
}

.profileDetaiWrap {
    padding: 28px 0 45px 0;
}

.profile_flex {
    width: 100%;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}

.detailPro {
    width: 194px;
    background: #033;
}

.followingBox {
    width: 194px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    padding: 24px 0;
    text-align: center;
    border-radius: 14px;
    height: 127px;
    margin-top: 35px;
}

.followingBox h2 {
    color: #434f5e;
    font: 23px SFUIDisplay-Regular;
    margin: 0 0 10px 0;
}

.followingBox h3 {
    color: #65c178;
    font: 26px Montserrat-Bold;
}

.profileBox {
    width: 194px;
    height: 194px;
    overflow: hidden;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    margin: auto;
}

.profiledetailWrapp {
    text-align: center;
}

.profiledetailWrapp h2 {
    color: #364e6b;
    font: 23px SFUIDisplay-Bold;
    margin: 20px auto 10px;
    text-transform: uppercase;
}

.profiledetailWrapp h4 {
    color: #073267;
    font: 16px SFUIDisplay-Regular;
    margin: 0px auto 10px;
    text-transform: uppercase;
}

.playlist {
    width: 584px;
    margin: 20px auto;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.playBox {
    width: 178px;
    color: #FFF;
    font: 16px SFUIDisplay-Regular;
    background: #999;
    text-align: center;
    padding: 13px 0;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    margin: 10px 0;
    height: 47px;
}

.playBox:nth-child(1) {
    background: #ee9821;
}

.playBox:nth-child(2) {
    background: #507f9b;
}

.playBox:nth-child(3) {
    background: #58825a;
}

.playBox:nth-child(4) {
    background: #f27e45;
}

.playBox:nth-child(5) {
    background: #6cb9ca;
}

.playBox:nth-child(6) {
    background: #ee9821;
}

.playBox:nth-child(7) {
    background: #507f9b;
}

.playBox:nth-child(8) {
    background: #58825a;
}

.SportPlayerWrap {
    border: 1px solid #d9d9d9;
    display: table;
    width: 100%;
    margin-bottom: 18px;
}

.leftBG {
    padding: 0px !important;
    height: 408px !important;
    display: table;
}

.hedcric {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.hedcric h3 {
    font: 16px Montserrat-Bold;
    color: #FFF;
    margin: 10px 0;
}

.cricketbg {
    background: #65c178 url(../images/cricket.png) no-repeat left;
}

.soccer {
    background: #65c178 url(../images/soccer.png) no-repeat left;
}

.swimming {
    background: #65c178 url(../images/swimming.png) no-repeat left;
}

.badminton {
    background: #65c178 url(../images/badminton.png) no-repeat left;
}

.spoertSkillLeft {
    padding: 17px 15px;
}

.spoertSkillLeft h2 {
    padding: 0 14px 19px 0;
    border-bottom: 1px solid #d6d6d6;
    font: 19px SFUIDisplay-Bold;
    color: #434f5e;
}

.pleft {
    width: 62.17616580310881%;
    float: left;
    color: #434f5e;
    font: 16px SFUIDisplay-Bold;
}

.pright {
    width: 36.26943005181347%;
    float: right;
    color: #434f5e;
    font: 14.5px SFUIDisplay-Regular;
}

.skill_listing {
    padding: 13px 0;
    display: table;
    width: 100%;
}

.spoertRight {
    padding: 17px 15px;
}

.spoertRight h2 {
    padding: 0 14px 19px 0;
    border-bottom: 1px solid #d6d6d6;
    font: 19px SFUIDisplay-Bold;
    color: #434f5e;
}

.spoertRight h5 {
    color: #65c178;
    font: 15px SFUIDisplay-Bold;
    padding: 15px 0;
}

.headingtable {
    padding: 10px 0;
    font: 13px SFUIDisplay-Bold;
    color: #434f5e;
}

.play_details {
    text-align: left;
    font: 12.5px SFUIDisplay-Light;
    color: #434f5e;
}

.play_details td {
    padding: 10px 0;
}

.play_details {
}

/*-----------------------------*/
.tournamentDetailWrap {
    max-width: 1500px;
    margin: auto;
}

.banarImg img {
    width: 100%;
}

.topLeftTT {
}

.registerTopWrap h1 {
    font: 26px Montserrat-Bold;
    margin: 0 0 13px 0;
    color: #434f5e;
}

.topLeftTT h2 {
    font: 18px Montserrat-Regular;
    margin: 0 0 12px 0;
    color: #434f5e;
}

.registerTopWrap h3 {
    font: 14.5px Montserrat-Bold;
    margin: 0 0 0;
    color: #59606a;
}

.regNew {
    padding: 22px;
    font: 27px SFUIDisplay-Regular;
    color: #FFF;
    background: #65c178;
    display: inline-block;
}

.registerTopWrap {
    display: table;
    width: #FFF;
    background: #FFF;
    width: 100%;
    padding: 27px 15px;
    border-bottom: 3px solid #e1e1e1;
}

.tournamentDetailWrapp {
    background: #FFF;
    padding: 51px 30px 30px 30px;
}

.tournamentDetailWrapp h1 {
    font: 26px Montserrat-Bold;
    margin: 0 0 13px 0;
    color: #434f5e;
}

.TudetailLeft {
    border: 1px solid #d9d9d9;
    padding: 0px !important;
}

.tounamentNameList {
    padding: 14px;
    display: table;
    width: 100%;
}

.TudetailLeft > div.tounamentNameList:nth-of-type(odd) {
    background: #fafafa;
}

.tourLeftRight {
    width: 48%;
    float: left;
}

.tourLeftRight h2 {
    font: 16px Montserrat-Bold;
    color: #434f5e;
}

.tourLeftRight h3 {
    font: 18px Montserrat-Regular;
    color: #434f5e;
}

.regiRight {
    padding: 30px 0 !important;
    text-align: center;
}

.feeBox {
    width: 264px;
    height: 74px;
    background: url(../images/yellow_priz.png) no-repeat center center;
    margin: auto;
    padding: 20px 0 0 0;
}

.feeBox h2 {
    font: 25px Montserrat-Bold;
    color: #434f5e;
}

.feeBox h2 span {
    color: #65c178;
}

.regiRight h3 {
    font: 18px Montserrat-Bold;
    color: #434f5e;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
    margin: 25px 20px;
}

.regiRight h4 {
    font: 23px Montserrat-Regular;
    color: #434f5e;
    padding: 15px 0;
    text-align: center;
}

.socilaWrap {
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.socilaWrap a {
    width: 44px;
    height: 44px;
}

.discription {
    margin: 15px 0;
    padding: 15px !important;
}

.discription h4 {
    font: 18px Montserrat-Bold;
    margin: 15px 0;
    color: #434f5e;
}

.discription p {
    color: #434f5e;
    font: 13px/24px Montserrat-Regular;
}

/*-------------------*/
.teamIco {
    width: 115px;
    height: 115px;
    border: 1px solid #d6d6d6;
    border-radius: 150px;
    text-align: center;
    overflow: hidden;
    background: #FFF;
}

.teamIco img {
    width: 100%;
}

.groupstageWrapp {
    background: #FFF;
    overflow-x:auto;
}

.groupstageWrapp h1 {
    font: 18px Montserrat-Bold;
    color: #FFF;
    background: #65c178;
    padding: 20px 20px;
}

.groupstageWrapp h2 {
    color: #434f5e;
    font: 20px Montserrat-Regular;
    padding: 15px;
}

.groupbox_AB {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1);
}

.groupbox_AB h3 {
    padding: 30px 10px;
    font: 18px Montserrat-Bold;
    color: #424e5d;
}

.headingMAT {
}

.headingMAT td {
    font: 17px Montserrat-Regular;
    text-align: center;
    padding: 15px 0;
    background: #f5f6f7;
}

.playList td {
    text-align: center;
    font: 15px Montserrat-Regular;
    padding: 18px 0;
    color: #565656;
    border-bottom: 1px solid #e0e2e4;
}

.TudetailLeft > div.tounamentNameList:nth-of-type(odd) {
    background: #fafafa;
}

.matchesN {
    color: #65c178;
}

/*------------------------------*/
.tournamentLeagWrapp {
    background: #f8f8f8;
    padding: 41px 0;
    -webkit-box-shadow: 0 5px 5px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, .2);
    position: relative;
    display: table;
    width: 100%;
}

.tournamBoxNe {
    text-align: center;
}

.tourRound {
    width: 150px;
    height: 150px;
    background: #FFF;
    border: 1px solid #eaeaea;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
}

.tournamentLeagWrapp h1 {
    font: 22px Montserrat-Bold;
    color: #65c178;
    margin: 24px 0 27px 0;
}

.tournamentLeagWrapp p {
    font: 16px/36px SFUIDisplay-Regular;
    color: #434f5e;
    padding: 0 18px;
}

.marketPlaceWrap {
    padding: 31px 0;
    background: #FFF;
    display: table;
    width: 100%;
}

.marketPlaceWrap h1 {
    font: 40px SFUIDisplay-Regular;
    text-align: center;
    color: #434f5e;
    margin: 0 0 29px 0;
}

/*-----------------------------*/
.marketBox {
    background: #FFF;
    border: 1px solid #e7e7e7;
    margin: 0 0 15px 0;
    width: 100%;
    display: table;
}

.topImageHolder {
    background: #e4e4e4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 227px;
}

.marketBox h2 {
    margin: 20px 0;
    font: 17px SFUIDisplay-Bold;
    color: #4d4d4d;
    text-align: center;
}

.starHolder {
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: center;
}

.starHolder i {
    font-size: 19px;
    color: #cccccc;
    margin: 0 3px;
}

.staRating {
    color: #fee31e !important;
}

.marketWrapp {
    max-width: 1500px;
    margin: auto;
    padding: 0 0 1px 0;
}

.marketBox h3 {
    color: #FFF;
    font: 18px SFUIDisplay-Bold;
    padding: 14px 0;
    width: 50%;
    text-align: center;
    background: #434f5e;
    float: left;
}

.buynow {
    font: 18px SFUIDisplay-Bold;
    padding: 14px 0;
    background: #65c178;
    width: 50%;
    text-align: center;
    color: #FFF;
    display: block;
    float: right;
}

.buynow:hover {
    background: #10b2b8;
    color: #FFF;
}

/*-----------------------------*/
.tournamentBt {
    padding: 0 30px !important;
}

.tournamentBt .active {
    background: #65c178;
    color: #FFF;
}

.tournamentBt li a {
    outline: none;
}

.tournamentBt .active a {
    color: #FFF;
}

.tournamentBt li {
    width: 50%;
    text-align: center;
    background: #ededed;
    font: 18px SFUIDisplay-Bold;
    padding: 8px 0;
}

.tournamentBt li a {
    color: #434f5e;
}

.menu_fix {
    position: fixed;
    top: 0px;
    z-index: 500;
}

.TudetailLeft > div.tounamentNameList:nth-of-type(odd) {
    background: #fafafa;
}

.test > tr.matchList:nth-of-type(odd) {
    background: #000 !important;
}


.group-flex-content ul li {
    background-color:#fafafa !important;
    color:#333;
}