
@font-face {
  font-family: 'Elsie-Regular';
  src: url('Elsie-Regular.eot?#iefix') format('embedded-opentype'),  url('Elsie-Regular.otf')  format('opentype'),
	     url('Elsie-Regular.woff') format('woff'), url('Elsie-Regular.ttf')  format('truetype'), url('Elsie-Regular.svg#Elsie-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
