body {
	direction: rtl;
}
.flexslider,.owl-carousel,.kode-team-timeline {
	direction: ltr;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.kode-barinfo,.logo,.navbar-default,.kode-team-thumb,.medium-info time,.kode-time-zoon time,.kode-testimnl-thumb,.kode-forminfo .kode-team-network,
.kode-simple-form ul li input[type="submit"],.tweet-thumb,.kode-admin-post figure,#kodecomments ul li figure,
#koderespond form p input[type="button"], #koderespond form p input[type="submit"] {
	float: right;
}

.kode-userinfo,.kode-rightsection,.kode-search,.kode-call-action .kode-simplebtn,.kode-result-info ul li span,
.kode-team-network,.kode-team-list .kode-modren-btn,#kode-topbtn,.twitter-info i,.kode-recent-thumb,.kode-breadcrumb,
.fixer-pagination a {
	float: left;
}


.kode-userinfo li i { margin-right: 0px; margin-left: 4px; }
.logo { margin: 25px 25px 25px 0px; }
.kode-search { margin: 36px 0px 0 -14px; }
.kode-search:before,.kode-search:after { right: auto; left: 0px; }
.navbar-nav > li > a::before { padding: 0 7px 0 0; }
.navbar-nav .children .children { left: auto; right: 100%; }
.kode-search:before,.kode-search:after,.navbar-nav .children li a:before,.kode-testimonial figure:before,
.kode-admin-post:before {
	-webkit-transform: scaleX(-1);
	   -moz-transform: scaleX(-1);
	    -ms-transform: scaleX(-1);
	     -o-transform: scaleX(-1);
	        transform: scaleX(-1);
}
.kode-call-action {
	text-align: left;
}
.kode-shop-list figure figcaption {
	text-align: right;
}

/* Content */
.kode-simplebtn ~ .kode-action-info { padding: 0 0px 0 220px; }
.owl-nav { right: auto; left: 0px; }
.owl-nav div { margin-left: 0px; margin-right: 10px; }
.kode-team-list figure figcaption { right: auto; left: 0px; }
.medium-info time ~ .medium-title { padding: 0 100px 0 0px; }
.kode-blog-options li i { margin-right: 0px; margin-left: 6px; }
.countdown-section { margin-left: 0px; margin-right: 80px; }
.countdown-section:first-child { margin-right: 0px; }
.kode-table-v2.kode-table tbody tr td:first-child { padding: 4px 15px 3px 0px; }
.kode-time-zoon time { margin-right: 0px; margin-left: 18px; }
.kode-testimnl-thumb ~ figcaption { padding: 11px 162px 0 0px; }
.kode-testimonial figure::before { left: auto; right: 0px; }
.kode-newslatter form label { right: auto; left: 0px; }
.kode-newslatter form label::before { left: 20px; right: auto; }
.kode-newslatter form { padding-left: 0px; padding-right: 20px; }
.kode-form-list li i { margin-right: 0px; margin-left: 20px; }
.tweet-thumb ~ .tweet-list { padding: 0 52px 0 0px; }
.kode-recent-thumb ~ figcaption { padding: 0 0px 0 108px; }
.kode-admin-post figure ~ .admin-info { padding: 0 135px 0 0px; }
.kode-admin-post:before { left: auto; right: 0px; }
#kodecomments ul li figure ~ .text { padding: 0 110px 0 0px; }
#kodecomments .children > li { padding: 0 150px 0 0px; }
blockquote { border-left: none; border-right: 3px solid; }
.list-thumb img { margin-right: 0px; margin-left: 8px; }
.kode-content { overflow: hidden; }